.root {
    -fx-background-color: #161616;
}

.button {
    -fx-background-color: #E3E3E3;
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.borderpane {
    -fx-alignment: center;
}
